body,html {
	background-image:
    linear-gradient(to bottom, red, orange, yellow 120%);}

.firstcharacter {
	float: left; 
	color: #000000; 
	font-size: 50px; 
	line-height: 40px;
	padding-top: 0px;  
	padding-right:8px;   
}

.Photo-Gallery--row2 {
	background: url(../images/Runners-drinking.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 320px;
}

h1 {
	color:#ffffff;
	text-shadow:2px 1px 1px #000000;
}

h2,h3,p,li,label {
	color:#000000;
}

.form-control{
	background-color: transparent;
	border: 1px solid #000000;
}

.btn-register {
  color: #fff;
  background-color: #000000;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.btn-register:hover {
  color: #000000;
  background-color: #ffffff;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.btn-register:active {
  color: #ffffff;
  background-color: #000000;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

.btn-register:focus {
  color: #ffffff;
  background-color: #000000;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

.well{
	background-color: transparent;
	min-height: 180px;
}

.panel{
	background-color: transparent;
}

.panel-title{
	color:#ffffff;
}

.panel-default > .panel-heading{
	background-color:#000000;
}

.float-left{
	float: left;
	padding-right: 10px;
}

.footer{
	border-top: solid black 1px;
	padding-top: 10px;
}

@media (min-width: 768px){
	h1 {font-size: 4.5em;}
}